[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
jedi = "==0.17.2"
mlflow = "*"
tensorflow = "*"
tensorflow-datasets = "*"
ipywidgets = "*"
matplotlib = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.8"
